@font-face {
    font-family: "FangZhengKaiTiJianTi";
    src: url("../data/FangZhengKaiTiJianTi.woff");
    font-weight: normal;
}

@font-face {
    font-family: "SanJiXingKaiJianTi";
    src: url("../data/SanJiXingKaiJianTi.woff");
    font-weight: normal;
}

@font-face {
    font-family: "yxyy";
    src: url("../data/mrz.woff") format('woff');
    font-weight: normal;
}

@keyframes lzfn {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 0;
    }
    10% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateX(0.1rem) translateY(-0.1rem);
        opacity: 0.2;
    }
}

html {
    font-size: 625%;
    font-family: "FangZhengKaiTiJianTi", sans-serif;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-0.5rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#jweb {
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
}

#jweb.page-newsDetail {
    height: auto;
    overflow-x: auto;
}

.top_menus {
    position: absolute;
    right: 0.5rem;
    top: 0.4rem;
    z-index: 2;
    display: flex;
    align-items: center;
}

.top_menus .pagin_item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.top_menus .pagin_item+.pagin_item {
    margin-left: 1rem;
}

.top_menus .pagin_item:hover .hudie_gif {
    display: block;
}

.top_menus .pagin_item:hover .hudie_icon {
    display: none;
}

.top_menus .pagin_item:hover p {
    opacity: 1;
}

.top_menus .pagin_item>img {
    width: 0.35rem;
    height: 0.35rem;
}

.top_menus .pagin_item>p {
    color: #fff;
    font-size: 0.2rem;
    opacity: 0.6;
    transition: opacity 0.5s;
    transform: translateY(0.03rem);
}

.top_menus .pagin_item>p.opacity_1 {
    opacity: 1;
}

.top_menus .pagin_item .hudie_gif {
    display: none;
}

.top_menus .btn-bgm {
    position: relative;
    display: block;
    width: 0.3rem;
    height: 0.31rem;
    margin-left: 0.97rem;
    transform: translateY(0.03rem);
}

.top_menus .btn-bgm[data-status="on"] {
    background: url("../img/pc/btn-bgm-on.png") no-repeat center;
    background-size: cover;
}

.top_menus .btn-bgm[data-status="off"] {
    background: url("../img/pc/btn-bgm.png") no-repeat center;
    background-size: cover;
}

.top_menus .btn-bgm[data-status="off"] .lzs {
    display: none;
}

.top_menus .btn-bgm .lzs {
    position: absolute;
    left: 0;
    top: -0.2rem;
    width: 0.61rem;
    height: 0.57rem;
    background: url("../img/pc/lizi.png") no-repeat center;
    background-size: 100% 100%;
    pointer-events: none;
    animation: lzfn 3s linear infinite;
}

.footer {
    min-height: 5.3rem;
    padding: 0.67rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    box-sizing: border-box;
}

.footer .footer_logo {
    width: 0.78rem;
}

.footer .footer_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 0.16rem;
    line-height: 0.26rem;
    text-transform: uppercase;
    text-align: center;
}

.footer .footer_info .footer_url {
    text-align: center;
}

.footer .footer_info .footer_url>a {
    color: rgba(255, 255, 255, 0.7);
}

.footer .footer_info .footer_text_tip {
    margin-bottom: 0.2rem;
}

.footer .footer_info .footer_text>a {
    color: #fff;
}

.landscape_popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

.landscape_popup>p {
    color: #b7b7b7;
    font-size: 40px;
    transform: rotate(90deg);
}

.tipPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    border-radius: 0.1rem;
    width: 3rem;
    height: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.tipPopup>p {
    font-size: 0.2rem;
    color: #fff;
}

.slide_item_bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide_item {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide_item::before {
    position: absolute;
    height: 2.37rem;
    width: 100%;
    content: "";
    left: 0;
    z-index: 1;
    right: 0;
    bottom: -1px;
    background: linear-gradient(rgba(255, 255, 255, 0), #000000);
}

.slide_item::after {
    position: absolute;
    height: 1.5rem;
    width: 100%;
    content: "";
    left: 0;
    z-index: 1;
    right: 0;
    top: -1px;
    background: linear-gradient(#000000, transparent);
}

.slide_item.no_top::after {
    display: none;
}

.slide_item.no_bot::before {
    display: none;
}

.slide_item .left_text {
    position: absolute;
    left: 0.5rem;
    top: auto;
    bottom: 0.5rem;
    margin: auto;
    z-index: 2;
}

.slide_item .left_text .left_text_title>p {
    transform: translateX(-0.15rem);
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    display: inline-flex;
    font-family: "SanJiXingKaiJianTi";
    letter-spacing: -0.11em;
}

.slide_item .left_text .left_text_title>p:after {
    position: absolute;
    content: "";
    right: -0.21rem;
    top: 0.11rem;
    width: 0.2rem;
    height: 0.49rem;
    background: url("../img/pc/seal.png") no-repeat center center;
    background-size: contain;
}

.slide_item .left_text .left_text_en {
    color: #c3c3c3;
    font-size: 0.24rem;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
}

.slide_item .left_text .divider {
    width: 0.69rem;
    height: 1px;
    background-color: #682225;
    margin: 0.26rem 0;
}

.slide_item .left_text .left_text_content {
    color: #ffffff;
    font-size: 0.2rem;
    line-height: 0.3rem;
}

#mySwiper {
    position: relative;
    width: 100%;
    height: 100%;
}

#mySwiper:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 1.17rem;
    pointer-events: none;
    background: url("../img/pc/topmask.png") no-repeat center center;
    background-size: cover;
}

.swiper-wrapper {
    height: 100%;
}

.main-slide {
    width: 100%;
    height: 100%;
    font-size: 0.18rem;
    position: relative;
}

.sm_box {
    position: absolute;
    bottom: 1.5rem;
    left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    z-index: 2;
}

.sm_box>div {
    position: relative;
    width: 0.34rem;
    height: 0.2rem;
    margin-top: 0.22rem;
    cursor: pointer;
}

.sm_box>div:hover .share_icon {
    opacity: 0.8;
}

.sm_box>div:hover .share_qrcode {
    display: block;
}

.sm_box>div .share_icon {
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.sm_box>div .share_qrcode {
    display: none;
    position: absolute;
    left: 0.36rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.52rem;
    height: 1.68rem;
}

.sm_box>p {
    font-size: 0.24rem;
    color: rgba(255, 255, 255, 0.4);
}

.left_logo {
    position: absolute;
    left: 0.35rem;
    top: 0.25rem;
    width: 1.13rem;
}

.left_logo .right_logo_img {
    display: block;
    width: 100%;
}

.home-slide .home {
    position: relative;
    filter: none;
    transition: all 0.5s;
}

.home-slide .home .left_bg {
    width: 2.65rem !important;
}

.home-slide .home_content {
    position: absolute;
    right: 1.8rem;
    top: 50%;
    width: 4.5rem;
    transform: translateY(-50%);
    margin-top: 0.3rem;
}

.home-slide .home_content .home_content_video {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 4.41rem;
}

.home-slide .home_content .home_content_video .video_top_logo {
    display: block;
    width: 3.68rem;
    margin: auto;
}

.home-slide .home_content .home_content_video .home_video_title {
    display: block;
    width: 4.37rem;
    margin: -0.64rem auto 0;
}

.home-slide .home_content .home_content_video .video_box {
    position: relative;
    width: 100%;
    margin-top: 0.16rem;
}

.home-slide .home_content .home_content_video .video_box .video_cover {
    object-fit: cover;
    width: 100%;
    cursor: pointer;
}

.home-slide .home_content .home_content_video .video_box .video_player {
    width: 100%;
    height: 100%;
}

.home-slide .home_content .home_content_video .content_btns {
    width: 100%;
    margin-top: 0.2rem;
}

.home-slide .home_content .home_content_video .content_btns>div {
    position: relative;
    flex-shrink: 0;
    width: 4.58rem;
    height: 1.14rem;
    background: url("../img/pc/sign_button.png?2") no-repeat center center;
    background-size: 100% 100%;
    cursor: pointer;
    font-size: 0.36rem;
    font-family: "yxyy", sans-serif;
}

.home-slide .home_content .home_content_video .content_btns>div:hover {
    background-image: url("../img/pc/sign_button-h.png?2");
}

.home-slide .home_content .home_content_video .content_btns>div:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -15%);
    width: 1.54rem;
    height: 1.06rem;
    background: url("../img/pc/btn_bg_gif.gif") no-repeat center center;
    background-size: cover;
}

.home-slide .home_content .home_content_video .content_btns .game_btn {
    margin-left: -0.1rem;
}

.ts-slide .slide-zsqt {
    position: relative;
}

.ts-slide .slide-zsqt::before {
    z-index: 50;
}

.ts-slide .slide-zsqt::after {
    z-index: 50;
}

.ts-slide .slide-zsqt .left_text {
    z-index: 50;
}

.ts-slide .slide-zsqt .swpZsqt_pagination {
    position: absolute;
    bottom: 0.4rem;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
    height: 0.28rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ts-slide .slide-zsqt .swpZsqt_pagination .swiper-pagination-bullet {
    width: 0.1rem;
    height: 0.1rem;
    border: 0.1rem;
    background: #fcefd9;
    opacity: 0.4;
}

.ts-slide .slide-zsqt .swpZsqt_pagination .swiper-pagination-bullet:nth-child(2) {
    margin: 0 0.4rem;
}

.ts-slide .slide-zsqt .swpZsqt_pagination .swiper-pagination-bullet-active {
    opacity: 1;
    position: relative;
    box-shadow: 0 0 0.08rem rgba(255, 255, 255, 0.7);
}

.news-slide .ltit {
    position: absolute;
    top: 0;
    left: 0.7rem;
    width: 1.2rem;
    height: 100%;
    background: url("../img/pc/new-tit-bg.png") no-repeat center;
    background-size: cover;
}

.news-slide .ltit .logo {
    display: block;
    margin: 1.04rem auto 0;
    width: 1.13rem;
}

.news-slide .ltit .logo .right_logo_img {
    display: block;
    width: 100%;
}

.news-slide .ltit .line {
    width: 0.36rem;
    height: 0;
    margin: 0.09rem auto 0.15rem;
    border: 1px solid #a13535;
}

.news-slide .ltit .txts {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.news-slide .ltit .txts .txt {
    display: flex;
    flex-direction: column;
    margin: 0 0.03rem;
    width: 1em;
}

.news-slide .ltit .txts .txt span {
    font-size: 0.18rem;
    color: #fff;
}

.news-slide .ltit .txts .txt span.slh {
    transform: rotate(90deg) translateX(0.06rem) translateY(0px);
    line-height: 0.2rem;
}

.news-slide .rcon {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    z-index: 1;
    width: 15.37rem;
    height: auto;
    transform: translateY(-50%);
    margin-top: 0.3rem;
}

.news-slide .rcon .newsimg-swp {
    position: relative;
    width: 15.37rem;
    height: 5.12rem;
    overflow: hidden;
}

.news-slide .rcon .newsimg-swp .swiper-wrapper {
    z-index: 1;
}

.news-slide .rcon .newsimg-swp .swiper-slide:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 85.33%, rgba(0, 0, 0, 0.5) 100%);
}

.news-slide .rcon .newsimg-swp .link {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.news-slide .rcon .newsimg-swp .link img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-slide .rcon .newsimg-swp .newsSwp_pagination {
    position: absolute;
    bottom: 0.26rem;
    left: 0;
    width: 100%;
    font-size: 0;
    text-align: center;
    z-index: 1;
}

.news-slide .rcon .newsimg-swp .newsSwp_pagination .swiper-pagination-bullet {
    display: inline-block;
    vertical-align: middle;
    width: 0.26rem;
    height: 0.26rem;
    background: url("../img/pc/dot.png") no-repeat center;
    background-size: cover;
    opacity: 1;
}

.news-slide .rcon .newsimg-swp .newsSwp_pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-image: url("../img/pc/dot-on.png");
}

.news-slide .rcon .list-box {
    width: 100%;
    margin-top: 0.34rem;
}

.news-slide .rcon .list-box .nav {
    display: flex;
    align-items: center;
}

.news-slide .rcon .list-box .nav .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.6rem;
    height: 0.34rem;
    color: #8A8783;
    font-size: 0.24rem;
    transition: 0.3s;
}

.news-slide .rcon .list-box .nav .btn.on {
    background: url("../img/pc/news-on.png") no-repeat center;
    background-size: cover;
    color: #fff;
}

.news-slide .rcon .list-box .nav .btn:hover {
    color: #fff;
}

.news-slide .rcon .list-box .lists {
    margin-top: 0.4rem;
}

.news-slide .rcon .list-box .list {
    position: relative;
    display: none;
    min-height: 89px;
}

.news-slide .rcon .list-box .list.on {
    display: block;
}

.news-slide .rcon .list-box .list:after {
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 0.71rem;
    border-right: 1px solid #fff;
    opacity: 0.5;
    margin-left: -0.1rem;
}

.news-slide .rcon .list-box .list .news {
    float: left;
    position: relative;
    width: 7.27rem;
    display: flex;
    align-items: center;
}

.news-slide .rcon .list-box .list .news:nth-child(odd) {
    margin-right: 0.8rem;
}

.news-slide .rcon .list-box .list .news:nth-child(n+3) {
    margin-top: 0.32rem;
}

.news-slide .rcon .list-box .list .news:hover .txt p {
    color: #E15B61;
}

.news-slide .rcon .list-box .list .news:hover .txt .time {
    color: #E15B61;
}

.news-slide .rcon .list-box .list .news .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0.16rem;
    font-style: normal;
    width: 0.62rem;
    height: 0.22rem;
    margin-right: 0.12rem;
}

.news-slide .rcon .list-box .list .news .tag[data-bg="新闻"] {
    background-color: #4F416D;
}

.news-slide .rcon .list-box .list .news .tag[data-bg="公告"] {
    background-color: #88393D;
}

.news-slide .rcon .list-box .list .news .txt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6.45rem;
}

.news-slide .rcon .list-box .list .news .txt p {
    flex: 1;
    margin-right: 0.15rem;
    font-size: 0.2rem;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.3s;
}

.news-slide .rcon .list-box .list .news .txt .time {
    flex-shrink: 0;
    font-size: 0.2rem;
    color: #C3C3C3;
    transition: 0.3s;
}

.news-slide .rcon .list-box .more {
    font-size: 0;
    margin-top: 0.27rem;
}

.news-slide .rcon .list-box .more .btn-more {
    display: inline-flex;
    align-items: center;
}

.news-slide .rcon .list-box .more .btn-more:hover {
    filter: brightness(1.3);
}

.news-slide .rcon .list-box .more .btn-more span {
    font-size: 0.16rem;
    color: #8A8783;
    margin-right: 0.05rem;
}

.news-slide .rcon .list-box .more .btn-more i {
    width: 0.13rem;
    height: 0.12rem;
    background: url("../img/pc/jt.png") no-repeat center;
    background-size: cover;
}

.shiting-slide .slide_item {
    display: flex;
    align-items: center;
}

.shiting-slide .slide_item .img {
    position: relative;
    width: 33.33%;
    height: 100%;
    overflow: hidden;
    transition: 0.4s;
}

.shiting-slide .slide_item .img:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/pc/st-mask.png") no-repeat bottom center;
    background-size: cover;
}

.shiting-slide .slide_item .img.gray .bg {
    filter: blur(0.05rem) grayscale(100%);
}

.shiting-slide .slide_item .img.gray .txt {
    opacity: 0.5 !important;
}

.shiting-slide .slide_item .img .bg {
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.shiting-slide .slide_item .img .bg.bg-yxjt {
    background: url("../img/pc/cover-yxjt.jpg") no-repeat center center;
    background-size: cover;
}

.shiting-slide .slide_item .img .bg.bg-yxsp {
    background: url("../img/pc/cover-yxsp.jpg") no-repeat center center;
    background-size: cover;
}

.shiting-slide .slide_item .img .bg.bg-yxtp {
    background: url("../img/pc/cover-yxtp.jpg") no-repeat center center;
    background-size: cover;
}

.shiting-slide .slide_item .img .txt {
    position: absolute;
    z-index: 2;
    bottom: 0.5rem;
    left: 0.54rem;
    transition: opacity 0.4s;
}

.shiting-slide .slide_item .img .txt p {
    color: #fff;
    font-size: 0.64rem;
    font-family: "FangZhengKaiTiJianTi";
}

.shiting-slide .slide_item .img .txt p.zm {
    font-size: 0.2rem;
    text-transform: uppercase;
    text-indent: 0.04rem;
    color: #C3C3C3;
}

.shiting-slide .slide_item .img .txt:after {
    content: "";
    position: absolute;
    right: -0.15rem;
    top: 0;
    width: 0.15rem;
    height: 0.33rem;
    background: url("../img/pc/icon.png") no-repeat center center;
    background-size: 100% 100%;
}

.shiting-slide .slide_item .img:hover {
    width: 50%;
    flex-shrink: 0;
}

.shiting-slide .detail {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.shiting-slide .detail:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 1.17rem;
    pointer-events: none;
    background: url("../img/pc/topmask.png") no-repeat center center;
    background-size: cover;
}

.shiting-slide .detail .btn-back {
    position: absolute;
    left: 0.52rem;
    top: 0.46rem;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 0.55rem;
    height: 0.22rem;
}

.shiting-slide .detail .btn-back i {
    width: 0.09rem;
    height: 0.15rem;
    background: url("../img/pc/btn-back.png") no-repeat center center;
    background-size: 100% 100%;
    margin-top: 0.02rem;
}

.shiting-slide .detail .btn-back span {
    font-size: 0.2rem;
    color: #DFDFDF;
}

.shiting-slide .detail .btn-back:hover span {
    color: #E15B61;
}

.shiting-slide .detail .img,
.shiting-slide .detail .sp {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.shiting-slide .detail .img img,
.shiting-slide .detail .sp img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.shiting-slide .detail .img video,
.shiting-slide .detail .sp video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shiting-slide .detail .img .btn-video,
.shiting-slide .detail .sp .btn-video {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    width: 0.98rem;
    height: 1.12rem;
    margin-left: -0.49rem;
    margin-top: -0.56rem;
    background: url("../img/pc/btn-video.png") no-repeat center center;
    background-size: 100% 100%;
}

.shiting-slide .detail .swpbox {
    position: absolute;
    left: 50%;
    margin-left: -4.7rem;
    bottom: 0.5rem;
    width: 9.4rem;
    height: 1.53rem;
}

.shiting-slide .detail .swpbox.len-2 {
    width: 6.2rem;
    margin-left: -3.1rem;
}

.shiting-slide .detail .swpbox .swiper {
    width: 100%;
    height: 100%;
}

.shiting-slide .detail .swpbox .swiper-default {
    display: flex;
    justify-content: center;
}

.shiting-slide .detail .swpbox .swiper-default .item {
    position: relative;
    width: 3.1rem;
    height: 100%;
    font-size: 0;
    text-align: center;
}

.shiting-slide .detail .swpbox .swiper-default .item.cur .img {
    border-color: #fff;
}

.shiting-slide .detail .swpbox .swiper-slide {
    font-size: 0;
    text-align: center;
}

.shiting-slide .detail .swpbox .swiper-slide.swiper-slide-active .img {
    border-color: #fff;
}

.shiting-slide .detail .swpbox .swiper-slide.swiper-slide-active .btn-download {
    display: block;
}

.shiting-slide .detail .swpbox .img {
    position: relative;
    display: inline-block;
    width: 2.72rem;
    height: 100%;
    box-sizing: border-box;
    border: 0.02rem solid transparent;
    cursor: pointer;
}

.shiting-slide .detail .swpbox .img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shiting-slide .detail .swpbox .v-name {
    position: absolute;
    left: 15%;
    bottom: 0.1rem;
    width: 70%;
    font-size: 0.2rem;
    color: #fff;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.shiting-slide .detail .swpbox .btn-download {
    position: absolute;
    right: 0.1rem;
    bottom: 0.1rem;
    background: url("../img/pc/btn-download.png") no-repeat center;
    background-size: cover;
    width: 0.29rem;
    height: 0.29rem;
    display: none;
}

.shiting-slide .detail .swpbox .btn-prev {
    position: absolute;
    left: -0.38rem;
    z-index: 1;
    top: 50%;
    margin-top: -0.25rem;
    width: 0.32rem;
    height: 0.51rem;
    background: url("../img/pc/btn-prev.png") no-repeat center center;
    background-size: 100% 100%;
}

.shiting-slide .detail .swpbox .btn-prev:hover {
    opacity: 0.8;
}

.shiting-slide .detail .swpbox .btn-next {
    position: absolute;
    right: -0.38rem;
    z-index: 1;
    top: 50%;
    margin-top: -0.25rem;
    width: 0.32rem;
    height: 0.51rem;
    background: url("../img/pc/btn-next.png") no-repeat center center;
    background-size: 100% 100%;
}

.shiting-slide .detail .swpbox .btn-next:hover {
    opacity: 0.8;
}

.footer-slide {
    height: auto !important;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
}

.blur {
    filter: blur(0.05rem) !important;
}

.popup_close {
    cursor: pointer;
    position: absolute;
    top: 0.08rem;
    right: 0.08rem;
    width: 0.56rem;
    height: 0.56rem;
}

.popup_left_img {
    width: 0.8rem;
    height: 6.76rem;
}

.sign_up_popup {
    background: url("../img/pc/dialog_bg2.jpg") no-repeat center;
    background-size: cover;
    width: 4.96rem;
    height: 6.76rem;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 4px 0.15rem 0 #ffffff1a;
}

.sign_up_popup.orderType-phone {
    padding: 0.21rem 0.45rem 0;
}

.sign_up_popup.orderType-xcx {
    padding: 0.47rem 0.81rem 0;
}

.sign_up_popup .popup_top {
    display: flex;
    align-items: flex-end;
    transform: translateX(-0.22rem);
    width: 100%;
}

.sign_up_popup .popup_top.xcx {
    transform: unset;
}

.sign_up_popup .popup_top>img {
    width: 1.4rem;
}

.sign_up_popup .popup_top>img.xcxlogo {
    width: 0.77rem;
}

.sign_up_popup .popup_top .popup_top_text {
    margin-left: 0.36rem;
    position: relative;
    transform: translateY(-0.1rem);
}

.sign_up_popup .popup_top .popup_top_text::before {
    content: "";
    position: absolute;
    left: -0.3rem;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #ba454a;
    height: 96%;
    width: 1px;
}

.sign_up_popup .popup_top .popup_top_text .sub_text {
    color: #fff;
    margin-bottom: 0.1rem;
    font-size: 0.24rem;
    line-height: 0.26rem;
    letter-spacing: 0.1em;
}

.sign_up_popup .popup_top .popup_top_text .sub_text2 {
    color: #fff;
    opacity: 0.5;
    font-size: 0.16rem;
    line-height: 0.18rem;
    letter-spacing: 0.1em;
}

.sign_up_popup .popup_top .popup_top_text .success_p {
    margin-top: 0.1rem;
    color: #fff;
    font-size: 0.4rem;
    line-height: 0.44rem;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
}

.sign_up_popup .popup_top .popup_top_text .success_p::before {
    content: "";
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
    background-color: #ba454a;
    height: 0.04rem;
}

.sign_up_popup .popup_top .popup_top_text .success_sub_text2 {
    font-size: 0.2rem;
    line-height: 0.22rem;
    margin-bottom: 0.08rem;
}

.sign_up_popup .qr {
    width: 3.03rem;
    height: 2.96rem;
    margin: 0.17rem auto 0;
}

.sign_up_popup .qr img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sign_up_popup .btns {
    font-size: 0;
    text-align: center;
    margin-top: 0.23rem;
}

.sign_up_popup .btns .btn-change {
    display: inline-block;
    font-size: 0.24rem;
    font-weight: 400;
    line-height: 0.26rem;
    letter-spacing: 0.1em;
    text-align: center;
    text-decoration: underline;
    color: #fff;
}

.sign_up_popup .btns .btn-change:hover {
    color: #E15B61;
}

.sign_up_popup .success_box {
    width: 100%;
    max-width: 3rem;
    padding: 0.35rem 0;
    box-sizing: border-box;
    border-radius: 0.03rem;
}

.sign_up_popup .success_box>img {
    width: 100%;
    opacity: 0.85;
}

.sign_up_popup .success_box>p {
    opacity: 0.5;
    margin-top: 0.23rem;
    font-size: 0.24rem;
    line-height: 0.26rem;
    letter-spacing: 0.1em;
    text-align: center;
    color: #ffffff;
}

.sign_up_popup .popup_type {
    margin-top: 0.6rem;
    width: 100%;
}

.sign_up_popup .popup_type.xcx {
    width: 2.87rem;
    margin: 0.55rem auto 0;
}

.sign_up_popup .popup_type>img {
    width: 0.07rem;
    height: 0.16rem;
    margin: 0 0.38rem;
}

.sign_up_popup .popup_type>div {
    cursor: pointer;
    font-size: 0.2rem;
    color: #fff;
    position: relative;
}

.sign_up_popup .popup_type>div:not(.type_active):hover {
    color: #E15B61;
}

.sign_up_popup .popup_type .type_active::before {
    content: "";
    position: absolute;
    top: 90%;
    left: 0;
    width: 102%;
    height: 0.04rem;
    background-color: #ba454a;
}

.sign_up_popup .popup_input_box {
    margin-top: 0.5rem;
}

.sign_up_popup .popup_input_box .popup_item {
    width: 4.05rem;
    height: 0.5rem;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 0.03rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign_up_popup .popup_input_box .popup_item .popup_input {
    flex: 1;
    width: 100%;
    padding: 0 0.2rem;
    font-size: 0.2rem;
    color: #fff;
}

.sign_up_popup .popup_input_box .popup_item .popup_input::placeholder {
    color: #ffffff80;
}

.sign_up_popup .popup_input_box .popup_item .item_button {
    cursor: pointer;
    width: 1.5rem;
    font-size: 0.2rem;
    color: #ffffff80;
    position: relative;
    text-align: center;
}

.sign_up_popup .popup_input_box .popup_item .item_button::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 0.23rem;
    width: 1px;
    background-color: #ffffff80;
}

.sign_up_popup .popup_input_box .popup_item .hover_sms:hover {
    color: #ffe0a5;
}

.sign_up_popup .popup_input_box .popup_item:nth-child(1) {
    margin-bottom: 0.13rem;
}

.sign_up_popup .popup_input_box .popup_item:nth-child(2) {
    margin-bottom: 0.4rem;
}

.sign_up_popup .popup_input_box .form_submit {
    cursor: pointer;
    background: url("../img/pc/form_btn_bg.png") no-repeat center;
    background-size: contain;
    width: 4.05rem;
    height: 0.58rem;
    filter: grayscale(1) brightness(0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign_up_popup .popup_input_box .form_submit>img {
    width: 1.2rem;
}

.sign_up_popup .popup_input_box .form_checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.2rem;
}

.sign_up_popup .popup_input_box .form_checkbox .check_item {
    width: 0.15rem;
    height: 0.15rem;
    border-radius: 0.02rem;
    background: #d9d9d9;
    border: 1px solid #9a9a9a;
    margin-right: 0.06rem;
    box-sizing: border-box;
    transform: translateY(-0.01rem);
}

.sign_up_popup .popup_input_box .form_checkbox .check_item:checked::before {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: url("../img/pc/tick_icon.png") no-repeat center;
    background-size: contain;
}

.sign_up_popup .popup_input_box .form_checkbox .form_checkbox_text {
    cursor: pointer;
    font-size: 0.15rem;
    font-weight: 400;
    line-height: 0.16rem;
    color: #fff;
}

.sign_up_popup .popup_input_box .form_checkbox .form_checkbox_text>a {
    color: #48e7e7;
}

.sign_up_popup .popup_input_box .active_form {
    filter: none;
}

.video_popup {
    width: 10.86rem;
    height: 6.1rem;
    position: relative;
}

.video_popup::before {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #00000080;
}

.video_popup .popup_close {
    top: -0.5rem;
    right: -0.5rem;
}

.video_popup .video_player {
    width: 100%;
    height: 100%;
}

.changeSlidePopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: #000;
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}